%icono-stroke{
	border: $U2 solid;
}

%stickCenterV{
    @include stickCenterV;
}

%stickCenterH{
    @include stickCenterH;
}

%stickCenter{
    @include stickCenter;
}

.spin{
    animation: loading-spinner 2s infinite linear;
    &.step{
        animation: loading-spinner 0.5s steps(8, end) infinite;
    }
}
@keyframes loading-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
