.icono-piano{
    width: $31;
    height: $22;
    @extend $icono-stroke
    margin: $6 $1;
    &:before{
        position: absolute;
        left: $5;
        top: 0;
        width: $1;
        height: 100%;
        box-shadow: -1*$1 0, $3 0, $7 0, $11 0, $15 0, $19 0;

    }
    &:after{
        position: absolute;
        width: $3;
        height: $12;
        left: $4;
        top: 0;
        box-shadow: inset $1 0, inset -1*$1 0, -1*$2 0, $2 0, $10 0, $14 0, $18 0;
    }

}
