//* Carets *\\
.icono-rightCaret {
    width: $U16;
    height: $U16;
    margin: $U9 $U9;
    @include transform(translateX(-25%));
    &:before {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        @include transform(rotate(-45deg));
        border: $stroke;
        border-width: 0 2px 2px 0;
        @include border-radius($U1);
    }
}

.icono-leftCaret {
    @extend .icono-rightCaret;
    @include transform(translateX(25%));
    &:before {
        @include transform(rotate(135deg));
    }
}

.icono-upCaret {
    @extend .icono-rightCaret;
    @include transform(translateY(25%));
    &:before {
        @include transform(rotate(-135deg));
    }
}

.icono-downCaret {
    @extend .icono-rightCaret;
    @include transform(translateY(-25%));
    &:before {
        @include transform(rotate(45deg));
    }
}
