//*-- Next --*\\
.icono-next {
    width: 0;
    height: 0;
    border: $U10 solid transparent;
    border-left: $U10 solid;
    border-right: none;
    margin: $U7 $U14 $U7 $U10;
    box-shadow: $U4 0;
}
