@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

body {
    color: #eee;
    background-color: #2ba5bb;
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    min-width: 200px;
    overflow-y: scroll;
}

body,html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
}

h3 {
    font-weight: 300;
}

header {
    color: #15525d;
    padding: 20px 0;
    margin: 0 auto 20px;
    text-align: center;
}

header h1 {
    font-size: 30px;
}

header h1 .icono-icono {
    color: #d0ebef;
    margin-top: 5px;
}

header h3 {
    font-size: 19px;
}

a.button {
    margin: 20px 0;
    box-shadow: 0 0 0 2px #11555d inset,0 0 0 0 #11555d inset;
    padding: 13px;
    text-decoration: none;
}

a.button:hover {
    color: #45bed4;
    box-shadow: 0 0 0 2px #11555d inset,0 50px 0 0 #11555d inset;
}

code {
    display: block;
    text-align: left;
    background-color: #104048;
    color: #2ba5bb;
    line-height: 1.5;
    padding: 5px 10px;
}

a {
    color: #11555d;
    transition: all .2s;
    line-height: 1;
    display: inline-block;
}

a:hover {
    color: #eee;
}

footer {
    text-align: center;
    padding: 10px;
    height: 64px;
    margin-top: -84px;
    position: relative;
    z-index: 2;
}

footer .ack {
    font-size: 12px;
}

footer i {
    transform: scale(.9);
}

footer a {
    text-decoration: none;
}

.stage {
    text-align: left;
    min-height: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    width: 640px;
}

.stage input[type=radio] {
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

.stage input[type=radio]:checked+label {
    background-color: #15525d!important;
    margin-bottom: 64px;
    overflow: visible;
    position: static;
}

.stage input[type=radio]:checked+label .about {
    visibility: visible;
    height: 64px;
    opacity: 1;
}

.stage .push {
    height: 100px;
}

.demo {
    position: relative;
    padding: 14px;
    border: 1px solid transparent;
    display: inline-block;
    box-sizing: content-box;
    vertical-align: top;
    transition: all .4s;
    background-color: transparent;
    margin-bottom: 0;
    overflow: hidden;
}
.demo.new i{
    color: #fff;
}
.demo:hover {
    background-color: #15525d!important;
}

.demo:hover i {
    color: #2ba5bb;
}

.demo i {
    transition: all .2s;
}

.demo .about {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    height: 0;
    font: 400 20px/60px monospace;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    background-color: #15525d;
    margin-top: 15px;
    transition: all .5s;
    text-align: center;
}

::selection {
    background-color: #333;
    color: #fff;
}

::-webkit-selection {
    background-color: #333;
    color: #fff;
}

::-moz-selection {
    background-color: #333;
    color: #fff;
}

.change-color {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all .2s;
    border: 1px solid;
}

.change-color i {
    transition: all .2s;
    transform: rotate(-45deg) scale(.8);
}

.change-color:hover {
    box-shadow: inset 0 60px 0 0 rgba(255,255,255,0.5);
}

.change-color:hover i {
    color: #104048;
}

.change-color .choose-color {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 90px;
    height: 46px;
    display: none;
    background-color: #eee;
    padding-left: 1px;
}

.change-color .choose-color span {
    float: left;
    padding: 5px;
    margin: 1px 1px 0 0;
}

.change-color .choose-color span i {
    visibility: hidden;
    opacity: 0;
}

.change-color .choose-color span:hover {
    opacity: .8;
}

.change-color .choose-color span.slctd i {
    visibility: visible;
    opacity: 1;
}

.change-color .choose-color .c1 {
    background-color: #e43E51;
}

.change-color .choose-color .c2 {
    background-color: #2ba5bb;
}

.page-color input {
    position: fixed;
    top: -1000px;
}

.page-color input:checked+label {
    background-color: #eee;
}

.page-color input:checked+label i {
    color: #104048;
}

.page-color input:checked+label .choose-color {
    display: block;
}

body {
    transition: background-color .3s;
}

body.c1 {
    background-color: #e43e51;
}

body.c1 h1,body.c1 h3 {
    color: rgba(0,0,0,0.5);
}

body.c1 .demo i {
    color: #78111d;
}

body.c1 .demo:hover {
    background-color: #78111d!important;
}

body.c1 .demo:hover i {
    color: #e43e51;
}

body.c1 .demo .about {
    background-color: #78111d!important;
    color: #e43e51;
}

body.c1 input[type=radio]:checked+label.demo {
    background-color: #78111d!important;
}p

body.c1 input[type=radio]:checked+label.demo i {
    color: #e43e51;
}

body.c1 code {
    background-color: #4b0b12;
    color: #e43e51;
}

body.c1 header a {
    box-shadow: 0 0 0 2px #78111d inset,0 0 0 0 #78111d inset;
}

body.c1 header a:hover {
    color: #e43e51;
    box-shadow: 0 0 0 2px #78111d inset,0 50px 0 0 #78111d inset;
}

body.c1 a {
    color: #78111d;
    transition: all .2s;
    text-decoration: none;
    line-height: 1;
    display: inline-block;
}

body.c1 a:hover {
    color: #eee;
}

.comments {
    background-color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
}
pre{
    background-color: #eee;
}
.fb_iframe_widget {
    vertical-align: top;
}
/*--Carbon Ads--*/
.ads {
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.ads .remove {
    display: none;
    float: right;
    transform: scale(0.6);
    cursor: pointer;
    transition: all 0.2s;
    text-align: right;
    margin: -5px -5px 0 0;
}
.ads .remove i {
    color: #104048;
}
.ads .remove:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
#carbonads {
    clear: both;
    max-width: 400px;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}
#carbonads a:hover{
    color: #11555d;    
}
.carbon-text { 
    display: block;
}
.carbon-text { 
    display: block;
    padding: 8px 0;
    width: 130px;
}
.carbon-poweredby {
    font-size: 80%;
    display: block;
}

@media (max-width:970px) {
    .ads {
        top: 5px;
        bottom: auto;
    }
}

@media (max-width:768px) {
    .stage {
        width: 512px;
    }
}

@media (max-width:650px) {
    .ads {
        top: auto; bottom: 0;
        right: 0; left: 0;
        margin: 5px;
        background-color: rgba(255, 255, 255, 0.6)
    }
    #carbonads{
        max-width: initial;
    }
    .carbon-img, .carbon-text{
        float: left;
    }
    #carbonads img{
        height: auto;
        max-width: 80px !important;
        display: block;
        margin-right: 10px;
    }
    .carbon-text {
        text-align: left;
        width: auto;
        max-width: 65%;
    }
    .carbon-poweredby {
        clear: both;
        float: right;
        position: relative;
        top: -5px;
    }
    .ads .remove{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: scale(0.8);
        margin: 0;
    }
    body{
        height: auto;
        margin-bottom: 110px;
    }
}

@media (max-width:540px) {
    .stage {
        width: 320px;
    }
}

@media (max-width:320px) {
    .stage {
        width: 192px;
    }
}
