//*-- Pasue --*\\
.icono-pause{
    width: 0;
    height: @22;
    margin: @4;
    margin-right:@16;
    border: 3px solid;

    &:before{
	    position: absolute;
	    left: @8;
	    top: -@3;
	    width: 0;
	    height: @16;
	    border: 3px solid;

	}
}