//*-- Plus --*\\
.icono-plus{
    width: @20;
    height: @2;
    background-color: @maincolor;
    margin: @16 @7;
    &:before{
        height: @20;
        width: @2;
        &:extend(.stickCenter);
        background-color: @maincolor;
    }
}